* {
  box-sizing: border-box;
}

.ui__container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ui__row {
  font-size: 40px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

.ui__col {
  line-height: 100px;
  flex: 0 0 25%;
  min-height: 100px;
  border: 1px solid #fff;
  position: relative;
}

.ui__col:hover {
  opacity: 0.8;
  cursor: pointer;
}

.ui__col:hover .ui__button:before{
  opacity:1;
}

.ui__header {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  font-size: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  border: 1px solid #fff;
  min-width: 100%;
}

.ui__button{
  position: absolute;
  right:5px;
  top:5px;
  height: 20px;
  width: 20px;
}

.ui__overlay-close{
  position: absolute;
  right:10px;
  top:10px;
  height: 30px;
  width: 20px;
  color:#fff;
  transition: opacity 0.4s ease;
  z-index: 1;
}

.ui__overlay-close:hover{
  cursor: pointer;
  opacity:0.8;
}

.ui__button:before{
  opacity:0;
  content:'\2630';
  color:#fff;
  display: block;

  font-size: 20px;
  line-height: 20px;
  transition: opacity 0.4s ease;
}

.vowels {
  color: #fff;
  min-width: 42%;
  margin-right: 8%;
  position: relative;
}

.vowels__col {
  background: #e74c3c;
}

.ui__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  
  z-index: 1000;
  display: flex;
  opacity:0;
  pointer-events: none;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: stretch;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  transition: opacity 0.4s ease;
}

.vowels__overlay{
  background:#e74c3c;
}

.diphtongs__overlay{
  background: #2ecc71;
}

.ui__overlay.is-active{
  opacity:1;
  pointer-events: auto;
}

.ui__o-word{
  flex: 0 0 25%;
  flex-grow: 1;
  padding:0px 5px;
  position: relative;
}

.ui__o-word > span{
    height: 100%;
    display: block;
    align-items: center;
    display: flex;
}

.ui__o-word > span > span{
  width: 100%;
}

.vowels-header {
  color: #fff;
  background: #e74c3c;
}

.diphtongs {
  min-width: 48%;
  margin-left: 2%;
  color: #fff;
  position: relative;
}

.diphtongs__col {
  background: #2ecc71;
}

.diphtongs-header {
  background: #2ecc71;
}


.consonants {
  min-width: 100%;
  color: #fff;
  padding-top: 4%;
}

.consonants__col {
  background: #1abc9c;
  flex: 0 0 12.5%;
}

.consonants-header {
  background: #1abc9c;
}
