* {
  box-sizing: border-box;
}

body{
  margin:0px;
}

h1{
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  color:#333;
  margin:0px 0px 40px 0px;
  padding: 30px 0px;
  background: #eee;
}

.site-footer{
  text-align: center;
  padding:40px 0px;
  font-family: "Comfortaa", sans-serif;
}

.site-footer a{
  color:#333;
}

.ui__container {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding:10px;
}

.ui__row {
  font-size: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.ui__col {
  line-height: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  min-height: 100px;
  border: 1px solid #fff;
  position: relative;
}

.ui__col:hover {
  opacity: 0.8;
  cursor: pointer;
}

.ui__col:hover:not(.is-empty) .ui__button:before{
  opacity:1;
}

.ui__header {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  font-size: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  border: 1px solid #fff;
  min-width: 100%;
}

.ui__button{
  position: absolute;
  right:5px;
  top:5px;
  height: 20px;
  width: 20px;
}

.ui__overlay-close{
  position: absolute;
  right: 0px;
  background: rgba(0,0,0,0.2);
  top: 0px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  width: 30px;
  color: #fff;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: 1;
}

.ui__overlay-close:hover{
  cursor: pointer;
  opacity:0.8;
}

.ui__button:before{
  opacity:0;
  content:'\2630';
  color:#fff;
  display: block;

  font-size: 20px;
  line-height: 20px;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.vowels {
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
  margin-right: 8%;
  position: relative;
}

.vowels__col {
  background: #e74c3c;
}

.ui__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left:0px;
  top:0px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity:0;
  pointer-events: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.vowels__overlay{
  background:#e74c3c;
}

.diphtongs__overlay{
  background: #2ecc71;
}

.consonants__overlay{
  background: #1abc9c;
}


.ui__overlay.is-active{
  opacity:1;
  pointer-events: auto;
}

.ui__o-word{
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding:0px 5px;
  position: relative;
}

.ui__o-word:hover{
  cursor: pointer;
}

.ui__o-word:hover > span{
  opacity: 0.7;
}

.ui__o-word > span{
    -webkit-transition: all 0.4s ease;
    transition:all 0.4s ease;
    height: 100%;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ui__o-word > span > span{
  width: 100%;
}

.vowels-header {
  color: #fff;
  background: #e74c3c;
}

.diphtongs {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin-left: 2%;
  color: #fff;
  position: relative;
}

.diphtongs__col {
  background: #2ecc71;
}

.diphtongs-header {
  background: #2ecc71;
}


.consonants {
  min-width: 100%;
  color: #fff;
  margin-top: 30px;
  position: relative;
}

.consonants__col {
  background: #1abc9c;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5%;
          flex: 0 0 12.5%;
}

.consonants-header {
  background: #1abc9c;
}

.consonants-overlay{
  background: #1abc9c;
}


@media(max-width: 768px){
  .vowels,
  .diphtongs{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin: 10px 0px;
  }
}

@media(max-width: 480px){
  .ui__col{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}